[mysqld]
bind-address = 0.0.0.0
default-storage-engine = innodb
innodb_file_per_table
collation-server = utf8_general_ci
character-set-server = utf8

server-id=1
max_connections=1000

key_buffer = 16M
max_allowed_packet = 16M
thread_stack = 192K
thread_cache_size = 8

skip-external-locking
query_cache_limit=1M
query_cache_size=32M
query_cache_type=1
#interactive_timeout=100
#wait_timeout=100
#connect_timeout=10
thread_cache_size=128
key_buffer=16M
#join_buffer=1M
max_allowed_packet=16M
table_cache=1024
#record_buffer=1M
sort_buffer_size=2M
read_buffer_size=2M
thread_concurrency=64
